#dateRow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#dateSquare {
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    min-width: 40px;
}

#month {
    background-color: green;
    color: white;
    padding-left: 3px;
    padding-right: 3px;
}

#day {
    font-weight: bold;
}