.active-day {
    background-color: lightgray;
    position: relative;
}

.active-day:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(1,1,1,.2);
}

.no-workout {
    position: relative;
}

.no-workout:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,0,0,.4);
}

.date-logo {
    display: flex;
    align-items: center;
}

.datePickerLogo {
    width: 36px;
    height: 36px;
    border-radius: 5px;
    margin: 2px;
    box-shadow: 2px 2px 10px 5px rgba(1,1,1,.1);
}
